<main>
  <section>
    <h1>Welcome <%= current_user.email %></h1>
    <p>This is a test page
  </section>
  </hr >
  </br >
  </br >
  <section>
    <% if user_signed_in? %>
      <%= form_tag purchase_checkouts_path, method: :post, data: {turbo: false} do %>
        <input type="hidden" name="price_id" value="<%= Rails.application.credentials.dig(:stripe, :pricing, :monthly)%>" />
        <input type="submit" name="subscribe for 0.05 €" />
      <% end %>
    <% else %>
    <% end %>

  </section>
  </br >
  </br >
  </br >
  </br >
  <section>
    <%= link_to "S'inscrire", new_user_registration_path %>
    <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-power-off"></i>
      Déconnexion
    <% end %>
    
  </section>
</main>