<main>
  <section>
    <% if user_signed_in? %>
      <h1>Welcome <%= current_user.email %></h1>
    <% else %>
      <h1>Welcome, you are not logged in</h1>
    <% end %>
    <p>This is a test page
  </section>
  </hr >
  </br >
  </br >
  <section>
    <% if user_signed_in? %>
      <%= form_with url: purchase_checkouts_path, method: :post, data: {turbo: false} do |f| %>
        <%= f.hidden_field :price_id, value: "#{Stripe::Price.retrieve(ENV['TEST_SUBSCRIPTION_KEY'])}" %>
        <%= f.submit "Payer 0.05 €", value: "Payer 0.05 €" %>
      <% end %>
    <% else %>
    <% end %>
  </section>
  </br >
  </br >
  </br >
  </br >
  <section>
    <%= link_to "S'inscrire", new_user_registration_path %>
    <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-power-off"></i>
      Déconnexion
    <% end %>
    
  </section>
</main>